version: 1

# Rules to match for a machine to qualify
target:
  id: {{ runner_id }}

timeouts:
  first_console_activity:  # This limits the time it can take to receive the first console log
    minutes: {{ timeout_first_minutes }}
    retries: {{ timeout_first_retries }}
  console_activity:        # Reset every time we receive a message from the logs
    minutes: {{ timeout_minutes }}
    retries: {{ timeout_retries }}
  boot_cycle:
    minutes: {{ timeout_boot_minutes }}
    retries: {{ timeout_boot_retries }}
  overall:                 # Maximum time the job can take, not overrideable by the "continue" deployment
    minutes: {{ timeout_overall_minutes }}
    retries: 0
    # no retries possible here

console_patterns:
    session_end:
        regex: '{{ session_end_regex | safe_quote }}'
    session_reboot:
        regex: '{{ session_reboot_regex | safe_quote }}'
    job_success:
        regex: '{{ job_success_regex | safe_quote }}'

# Environment to deploy
deployment:
  # Initial boot
  start:
    kernel:
      url: '{{ kernel_url | safe_quote }}'
      cmdline:
        - SALAD.machine_id={{ '{{' }} machine_id }}
        - console={{ '{{' }} local_tty_device }},115200 earlyprintk=vga,keep
        - loglevel={{ log_level }} no_hash_pointers
        - b2c.service="--privileged --tls-verify=false --pid=host docker://{{ '{{' }} fdo_proxy_registry }}/gfx-ci/ci-tron/telegraf:latest" b2c.hostname=dut-{{ '{{' }} machine.full_name }}
        - 'b2c.run="-ti --tls-verify=false docker://{{ '{{' }} fdo_proxy_registry }}/gfx-ci/ci-tron/machine-registration:latest check"'
        - 'b2c.ntp_peer=ci-gateway b2c.pipefail b2c.cache_device=auto b2c.poweroff_delay={{ poweroff_delay }}'
        - 'b2c.minio="gateway,{{ '{{' }} minio_url }},{{ '{{' }} job_bucket_access_key }},{{ '{{' }} job_bucket_secret_key }}"'
        - 'b2c.volume="{{ '{{' }} job_bucket }}-job,mirror=gateway/{{ '{{' }} job_bucket }},pull_on=pipeline_start,push_on=changes,overwrite,preserve,expiration=pipeline_end{% for excl in job_volume_exclusions %},exclude={{ excl }}{% endfor %}"'
        - 'b2c.login="ci-gateway:8010,username={{mupuf_registry_username}},password={{mupuf_registry_password}},tls-verify=false"'
        - 'b2c.run="-v {{ '{{' }} job_bucket }}-job:{{ working_dir | shlex_quote | safe_quote }} -w {{ working_dir | shlex_quote | safe_quote }} -e GPU_VERSION={{ gpu_version }} -e CI_JOB_CONCURRENCY={{ ci_job_concurrency }} --tls-verify=false docker://{{ local_container }} {{ container_cmd | shlex_quote | safe_quote }}"'
        {% if cmdline_extras is defined %}
        - {{ cmdline_extras }}
        {% endif %}

    initramfs:
      url: '{{ initramfs_url | safe_quote }}'
